*.ko
*.o
*.swp
*.cmd
.tmp_versions
*.tmp
tmp*
*.bckp
*.order
*.symvers
*.mod.c
*.pyc
.gdb*
gdb*
peda*
ioctl_me
doc
tags
*.egg
dist/
slides/
emulator
iso
my_read_iso
*.id*
*.nam
*.til
_slides
*.d
*.out
.DS_Store
